{
  "singleQuote": true,
  "endOfLine": "crlf",
  "trailingComma": "all",
  "printWidth": 50,

  "overrides": [
    {
      "files": "*.prisma",
      "options": {
        "parser": "prisma"
      }
    }
  ]
}
